extends ../components/layout.pug

block header-title
  title Piktonext DS 

block content-header
  h1 Piktonext DS 

block content-template
  p Temporary Page for displaying Piktonext DS tokens & components

