extends ../components/layout.pug

block header-title
  title Piktonext DS 

block content-header
  h1 Temp Piktonext DS 

block content-template
  p This is a quick build for the Design System, it's a first dive into checking the compatibility between our tokens and bootstrap's robust theming system. 

  p Sticking to the idea of not re-inventing the wheel, we are reusing the components which Bootstrap has provided. Bootstrap's components also has basic accessibility features and the framework itself is also widely supported by an active community. Hence, the reason why we chose that as our base for developing our components

  div
    a(target="_blank" href="https://getbootstrap.com/docs/4.5/layout/overview/") Bootstrap Overview

  div
    a(target="_blank" href="https://github.com/twbs/bootstrap/blob/master/scss/_variables.scss") Bootstrap Variables

  div
    a(target="_blank" href="https://www.figma.com/file/HCaIhed2KA3jBAt96oVnAfbw/DS-2.0-Piktochart-Design-System") Piktonext Design System(WIP)