extends ../components/layout.pug

block header-title
  title Spacings

block content-header
  h1 Spacings

block content-template

  mixin spacer(value)
    <span>$spacer-1 (value)</span>
    <div style=`height: ${value};` class="bg-primary mb-1"></div>

  each val, index in [4, 8, 12, 16, 20, 24, 40, 64, 104]
    span= 'spacer-' + index + ': ' + val + 'px'
    div.bg-primary(style={height: `${val}px`})

