doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    block header-title
    link(rel="stylesheet" href="style.css")

  body
    .d-flex
      .ds-sidebar.bg-secondary.vh-100.p-4
        include sidebar
      .ds-main-content.vh-100.p-4
        block content-header
          h1 Content
        block content-template