- var pages = ['spacing','color']
- var comp = ['alerts']


ul.list-group.list-group-flush
  a.text-white.text-capitalize.mb-4(href=`index.html`) Home

h6.border-bottom.pb-2.text-dark Tokens

ul.list-group.list-group-flush
  each val in pages
    li.list-group-item.bg-transparent.py-1.border-0
      a.text-white.text-capitalize(href=`${val}.html`) #{val}

h6.border-bottom.pb-2.text-dark Components

ul.list-group.list-group-flush
  each val in comp
    li.list-group-item.bg-transparent.py-1.border-0
      a.text-white.text-capitalize(href=`${val}.html`) #{val}